.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) { /* This is the for my searchbar*/
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  
  
  .img-responsive { /* This class is for background images insuring they don't repeat and fully cover the page */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  .navbar{/*  Specifying the font in the navbar*/
    font-family: 'Open Sans', sans-serif;
  }
  .half{   /* Anything with class half has a height of 40% */
  height:40%;
  }
  
  
  .title{/* This is the CSS styling for the text in the title animation */

  position:absolute;
  top:25%;
  left:36.5%;
  width:25%;
  height:10%;
  font-family: 'Open Sans', sans-serif;
  font-size:3rem;
  color:black;
  border:black 1px;
  }
  
 
  .input-mysize  { /* for searchbar */
    position:absolute!important; /* this certifies that what I say will occur (!important) */
    top:50%;
    left:5%;
    margin:auto; /* margin is automatic */
  }
  
  
  
   .stock-info, .stock-widget {
    font-size:40px;
    background-color:white;
    position:relative;
    top:25%;
    font-family: 'Open Sans', sans-serif;
  }

  .big {
    font-size:3rem;
  }
  

  .fit {
    max-width: 225px;
    padding:30px;
    opacity:0.5;
  }

  .fit:hover {
    opacity:1;
  }
